<!--
Copyright (c) 2023, CloudBlue LLC
All rights reserved.
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="loader"></div>
    <div id="app">
        <div class="main-container" id="content">
        </div>
        <div class="button-container">
            <button id="add" class="button">ADD COLUMN</button>
        </div>
    </div>
</body>

</html>
