# -*- coding: utf-8 -*-
#
# Copyright (c) 2022, Globex Corporation
# All rights reserved.
#
from {{ package_name }}.anvil import {{ project_slug|replace("_", " ")|title|replace(" ", "") }}AnvilApplication


def test_example_method(
    connect_client,
    client_mocker_factory,
    logger,
):
    config = {}
    anvil_app = {{ project_slug|replace("_", " ")|title|replace(" ", "") }}AnvilApplication(connect_client, logger, config)
    assert anvil_app.example_method('an_argument') == (
        'Example method invoked, argument = an_argument'
    )
