# -*- coding: utf-8 -*-
#
# Copyright (c) {% now 'utc', '%Y' %}, {{ author }}
# All rights reserved.
#
{% if use_asyncio == 'y' -%}
import pytest
{% endif -%}
{% if extension_type != 'multiaccount' -%}
from {{ package_name }}.extension import {{ project_slug|replace("_", " ")|title|replace(" ", "") }}Extension

{% else -%}
from {{ package_name }}.events import {{ project_slug|replace("_", " ")|title|replace(" ", "") }}Extension

{% endif -%}

{% for bg_event in background -%}
{% if use_asyncio == 'y' %}
@pytest.mark.asyncio
{%- endif %}
{% if use_asyncio == 'y' %}async {% endif %}def test_handle_{{ bg_event }}(
    {% if use_asyncio == 'y' %}async_client_factory{% else %}sync_client_factory{% endif %},
    response_factory,
    logger,
):
    config = {}
    request = {'id': 1}
    responses = [
        response_factory(count=100),
        response_factory(value=[{'id': 'item-1', 'value': 'value1'}]),
    ]
    client = {% if use_asyncio == 'y' %}await async_client_factory{% else %}sync_client_factory{% endif %}(responses)
    ext = {{ project_slug|replace("_", " ")|title|replace(" ", "") }}Extension(client, logger, config)
    result = {% if use_asyncio == 'y' %}await {% endif %}ext.handle_{{ bg_event }}(request)
    assert result.status == 'success'

{% endfor -%}

{% for interactive_event in interactive -%}
{% if use_asyncio == 'y' %}
@pytest.mark.asyncio
{%- endif %}
{% if use_asyncio == 'y' %}async {% endif %}def test_handle_{{ interactive_event }}(
    {% if use_asyncio == 'y' %}async_client_factory{% else %}sync_client_factory{% endif %},
    response_factory,
    logger,
):
    config = {}
    request = {'id': 1}
    responses = [
        response_factory(count=100),
        response_factory(value=[{'id': 'item-1', 'value': 'value1'}]),
    ]
    client = {% if use_asyncio == 'y' %}await async_client_factory{% else %}sync_client_factory{% endif %}(responses)
    ext = {{ project_slug|replace("_", " ")|title|replace(" ", "") }}Extension(client, logger, config)
    result = {% if use_asyncio == 'y' %}await {% endif %}ext.handle_{{ interactive_event }}(request)
    assert result.status == 'success'
    assert result.body == request

{% endfor -%}

{% if include_schedules_example == 'y' -%}
{% if use_asyncio == 'y' %}
@pytest.mark.asyncio
{%- endif %}
{% if use_asyncio == 'y' %}async {% endif %}def test_execute_scheduled_processing(
    {% if use_asyncio == 'y' %}async_client_factory{% else %}sync_client_factory{% endif %},
    response_factory,
    logger,
):
    config = {}
    request = {'id': 1}
    responses = [
        response_factory(count=100),
        response_factory(value=[{'id': 'item-1', 'value': 'value1'}]),
    ]
    client = {% if use_asyncio == 'y' %}await async_client_factory{% else %}sync_client_factory{% endif %}(responses)
    ext = {{ project_slug|replace("_", " ")|title|replace(" ", "") }}Extension(client, logger, config)
    result = {% if use_asyncio == 'y' %}await {% endif %}ext.execute_scheduled_processing(request)
    assert result.status == 'success'
{% endif -%}
