version: '3'

services:
  {{project_slug}}_dev:
    container_name: {{project_slug}}_dev
    image: cloudblueconnect/connect-extension-runner:{{runner_version}}
    command: cextrun -d
    volumes: 
      - .:/extension
    env_file:
      - .{{ project_slug }}_dev.env

  {{project_slug}}_bash:
    container_name: {{project_slug}}_bash
    image: cloudblueconnect/connect-extension-runner:{{runner_version}}
    working_dir: /extension
    command: /bin/bash
    stdin_open: true
    tty: true
    volumes:
      - .:/extension
    env_file:
      - .{{ project_slug }}_dev.env

  {{project_slug}}_test:
    container_name: {{project_slug}}_test
    image: cloudblueconnect/connect-extension-runner:{{runner_version}}
    working_dir: /extension
    command: /bin/bash -c "poetry install && poetry run flake8 && poetry run pytest"
    volumes:
      - .:/extension
    env_file:
      - .{{ project_slug }}_dev.env
