#description,
#edit-input,
#settings,
#output {
    width: 466px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}

#edit-input-columns-table {
    width: 450px;
    border-collapse: collapse;
}

#edit-input-columns-table th {
    background-color: #F5F5F5;
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    text-align: left;
}

#edit-input-columns-table td {
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    height: 32px;
    border-top: 1px solid #e0e0e0;
}

#description-text,
#settings-text {
    width: 450px;
    resize: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}