# In order to use this extension locally, 
# you must obtain an API Key from the integration module of your account.
# Please use a Custom token when running locally.
export API_KEY="{{ api_key }}"

# You can obtain your environment ID going to DevOps module,
# there you will find this key for the concrete environment you want to use,
# either development, testing, or production
export ENVIRONMENT_ID="{{ environment_id }}"

# Please provide the hostname of Connect API.
# This one can be found in the general section on the integrations module
export SERVER_ADDRESS="{{ server_address }}"


# Please note that this file shall ONLY be present when running locally
# and never in a cloud environment.