---
extends:
  - airbnb-base
  - plugin:import/warnings

env:
  browser: true
  jest: true

plugins:
  - import

settings:
  import/resolver:
    webpack:
      node: { }

rules:
  sort-imports:
    - error
    - ignoreDeclarationSort: true
  no-multiple-empty-lines: 0
  arrow-parens: 0
  max-classes-per-file: 0
  import/extensions: 0
  import/no-cycle:
    - error
    - maxDepth: 2
  import/order: off
  import/newline-after-import:
    - error
    - count: 2
  padding-line-between-statements:
    - error
    - blankLine: always
      prev: "*"
      next: return
    - blankLine: always
      prev: "*"
      next: export
  no-param-reassign:
    - 2
    - props: false
  no-console:
    - error
    - allow:
      - warn
      - error
  object-curly-newline:
    - error
    - ImportDeclaration:
        minProperties: 1
        multiline: true
        consistent: true
      ObjectExpression:
        consistent: true
        minProperties: 3
  require-await:
    - error

parserOptions:
  parser: "@babel/eslint-parser"
  requireConfigFile: false

globals:
  inject: false
