version: '3'

services:
  {{project_slug}}_dev:
    container_name: {{project_slug}}_dev
    build:
      context: .
    working_dir: /extension
    command: cextrun -d
    volumes: 
      - .:/extension
    env_file:
      - .{{ project_slug }}_dev.env

  {{project_slug}}_bash:
    container_name: {{project_slug}}_bash
    build:
      context: .
    working_dir: /extension
    command: /bin/bash
    stdin_open: true
    tty: true
    volumes:
      - .:/extension
    env_file:
      - .{{ project_slug }}_dev.env

  {{project_slug}}_test:
    container_name: {{project_slug}}_test
    build:
      context: .
    working_dir: /extension
    command: extension-test
    volumes:
      - .:/extension
    env_file:
      - .{{ project_slug }}_dev.env
