{
  "name": "{{ project_slug|replace("_", "-") }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "main": "index.js",
  "engines": {
    "node": ">=v18.19.0"
  },
  "directories": {
    "test": "ui/tests"
  },
  "scripts": {
    "build": "webpack",
    "watch": "webpack watch",
    "lint": "eslint ui/src --ext .js",
    "lint:fix": "npm run lint -- --fix",
    "test": "NODE_ENV=test jest --no-cache"
  },
  "author": "{{ author }}",
  "license": "{{ license }}",
  "dependencies": {
    "@cloudblueconnect/connect-ui-toolkit": "^30.1.0",
    "@fontsource/roboto": "^5.0.8",
    "css-minimizer-webpack-plugin": "^6.0.0"
  },
  "devDependencies": {
    "@babel/core": "^7.23.7",
    "@babel/preset-env": "^7.23.8",
    "css-loader": "^6.9.1",
    "eslint": "^8.56.0",
    "eslint-config-airbnb-base": "^15.0.0",
    "eslint-import-resolver-webpack": "^0.13.8",
    "eslint-plugin-import": "2.29.1",
    "eslint-webpack-plugin": "^4.0.1",
    "html-webpack-plugin": "^5.6.0",
    "jest": "^29.7.0",
    "jest-environment-jsdom": "29.7.0",
    "jest-transform-stub": "^2.0.0",
    "mini-css-extract-plugin": "^2.7.7",
    "style-loader": "^3.3.4",
    "webpack": "^5.90.0",
    "webpack-cli": "^5.1.4",
    "copy-webpack-plugin": "^12.0.2"
  }
}
