<!--
Copyright (c) {% now 'utc', '%Y' %}, {{ author }}
All rights reserved.
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="loader"></div>
    <div id="app">
        <settings-card title="Choose your marketplaces you want to include in chart">
            <div class="list-wrapper">
                <ul id="marketplaces" class="list">
                </ul>
            </div>
            <div class="button-container">
                <button id="save" class="button" disabled>SAVE</button>
            </div>
        </settings-card>
    </div>
    <div id="error">
        <settings-card title="Error">
            <div class="error-message">
                <p id="error-message">Something went wrong. Please try to reload the page.</p>
            </div>
        </settings-card>
    </div>
</body>

</html>