name: Test {{ project_name }}
{% raw %}
on:
  push:
    branches: '*'
    tags:
        - '*'
  pull_request:
    branches: [ master ]

jobs:
  backend:
    runs-on: ubuntu-latest
    name: Backend tests
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false --local
          poetry install --no-root
      - name: Linting
        run: |
          flake8 .
      - name: Testing
        run: |
          pytest
{% endraw %}
{%- if webapp_supports_ui == 'y' -%}
{%- raw %}
  frontend:
    runs-on: ubuntu-latest
    name: Frontend tests
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Linting
        run: npm run lint
      - name: Testing
        run: npm run test
{% endraw -%}
{% endif -%}
