# Welcome to Connect Report project {{ project_name }}

## Next steps

You may open your favorite IDE and start working with your project.


## Community Resources

Please take note of these links in order to get additional information:

* https://connect.cloudblue.com/
* https://connect.cloudblue.com/community/modules/reports/
* https://connect.cloudblue.com/community/sdk/python-openapi-client/
* https://connect-openapi-client.readthedocs.io/en/latest/
