[tool.poetry]
name = "{{ project_slug|replace("_", "-") }}"
version = "{{ version }}"
description = "{{ description }}"
authors = ["{{ author }}"]
license = "{{ license }}"
packages = [
    { include = "{{ package_name }}" }
]
readme = "./README.md"

[tool.poetry.dependencies]
python = ">=3.8,<4"

[tool.poetry.dev-dependencies]
connect-cli = "^{{ cli_version }}"
connect-openapi-client = "^24"
{%+ if use_asyncio == 'y' %}pytest-asyncio = "^0.19"{% endif %}
{%+ if use_asyncio == 'y' %}pytest-httpx = ">=0.21"{% endif %}
pytest = "^6.2.1"
pytest-cov = "^2.10.1"
pytest-mock = "^3.4"
responses = "^0.12"
coverage = {extras = ["toml"], version = "^5.3.1"}
isort = {extras = ["pyproject"], version = "^5.6.4"}
flake8 = "^3.8.4"
flake8-broken-line = "^0"
flake8-bugbear = "~20"
flake8-comprehensions = "~3"
flake8-string-format =  "^0"
flake8-debugger = "~3"
flake8-eradicate = "~1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = "tests"
addopts = "--cov={{ package_name }} --cov-report=term-missing:skip-covered --cov-report=html --cov-report=xml"

[tool.coverage.run]
branch = true

[tool.coverage.report]
omit = [
]

exclude_lines = [
    "pragma: no cover",
    "def __str__",
    "def __repr__",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
]
