{
  "name": "{{ project_name }}",
  "description": "{{ description }}",
  "version": "{{ version }}",
  "audience": {% if extension_type == 'products' %}["vendor"]{% elif extension_type == 'hub' %}["distributor", "reseller"]{% else %}{{ extension_audience|tojson }}{% endif %},
  "readme_url": "https://example.com/README.md",
  "changelog_url": "https://example.com/CHANGELOG.md"{% if webapp_supports_ui == 'y' %},
  "icon": "googleExtensionBaseline"{% endif %}
}