# -*- coding: utf-8 -*-
#
# Copyright (c) {% now 'utc', '%Y' %}, {{ author }}
# All rights reserved.
#
from typing import {% if extension_type == 'multiaccount' %}List, {% endif %}Optional

from pydantic import BaseModel, validator


class Marketplace(BaseModel):
    id: str
    name: str
    description: str
    icon: Optional[str]

    @validator('icon')
    def set_icon(cls, icon):
        return icon or '/static/images/mkp.svg'

{% if extension_type == 'multiaccount' %}
class Settings(BaseModel):
    marketplaces: List[Marketplace] = []
{% endif -%}
