# -*- coding: utf-8 -*-
#
# Copyright (c) {% now 'utc', '%Y' %}, {{ author }}
# All rights reserved.
#
from fastapi import Depends, Request
from connect.client import ConnectClient
from connect.eaas.core.decorators import router, web_app
from connect.eaas.core.extension import WebAppExtension
from connect.eaas.core.inject.synchronous import get_installation, get_installation_client


@web_app(router)
class {{ project_slug|replace("_", " ")|title|replace(" ", "") }}WebAppExtension(WebAppExtension):
    installation: dict = Depends(get_installation)

    @router.get('/settings')
    def retrieve_settings(
        self,
    ):
        return self.installation

    @router.post('/settings')
    async def update_settings(
        self,
        request: Request,
        installation_client: ConnectClient = Depends(get_installation_client),
    ):
        settings = await request.json()

        installation_client('devops').installations[self.installation['id']].update(
            {'settings': settings},
        )
        return installation_client('devops').installations[self.installation['id']].get()
