name: Publish Connect Command Line Client

on:
  push:
    tags:
        - '*'
jobs:
  Release:
    steps:
    - name: Create release
      uses: actions/create-release@v1
      id: create_release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OS_NAME: linux
        CPU_ARCH: amd64
        PKG_TAG: ${{ steps.tag.outputs.result }}
      with:
        tag_name: ${{ steps.tag.outputs.result }}
        release_name: Release ${{ steps.tag.outputs.result }}
        draft: false
        prerelease: false
    - name: Create Release URL File
      run: |
        echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt
    - name: Export Release URL
      uses: actions/upload-artifact@v2
      with:
        name: release_url
        path: release_url.txt
  Linux:
    runs-on: ubuntu-latest
    needs: [Release]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/dev.txt
        pip install -r requirements/test.txt
        pip install pyinstaller
    - name: Linting
      run: |
        flake8
    - name: Testing
      run: |
        pytest
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
    - name: Discover Assigned TAG
      uses: actions/github-script@v3
      id: tag
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        result-encoding: string
        script: |
          return context.payload.ref.replace(/refs\/tags\//, '')
    - name: Echo
      run: echo ${{ steps.tag.outputs.result }}
    - name: Create Linux Distro
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OS_NAME: linux
        CPU_ARCH: amd64
        PKG_TAG: ${{ steps.tag.outputs.result }}
      run: |
        ./package.sh
    - name: Download release-url
      uses: actions/download-artifact@v2
      with:
        name: release_url
    - name: Read URL from file
      id: create_release
      uses: actions/github-script@v3
      run: |
        echo ::set-env name=RELEASE_URL::$(cat release-url.txt)
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ env.RELEASE_URL }}
        asset_path: ./connect-cli_${{ steps.tag.outputs.result }}_linux_amd64.tar.gz
        asset_name: connect-cli_${{ steps.tag.outputs.result }}_linux_amd64.tar.gz
        asset_content_type: application/tar+gzip
  windows:
    runs-on: windows-latest
    needs: [Release]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/dev.txt
        pip install -r requirements/test.txt
        pip install pyinstaller
    - name: Discover Assigned TAG
      uses: actions/github-script@v3
      id: tag
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        result-encoding: string
        script: |
          return context.payload.ref.replace(/refs\/tags\//, '')
    - name: Create Windows Distro
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OS_NAME: windows
        CPU_ARCH: amd64
        PKG_TAG: ${{ steps.tag.outputs.result }}
      run: |
        ./package.sh
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ env.RELEASE_URL }}
        asset_path: ./connect-cli_${{ steps.tag.outputs.result }}_windows_amd64.zip
        asset_name: connect-cli_${{ steps.tag.outputs.result }}_windows_amd64.zip
        asset_content_type: application/zip
  macos:
    runs-on: macos-latest
    needs: [Release]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/dev.txt
        pip install -r requirements/test.txt
        pip install pyinstaller
    - name: Discover Assigned TAG
      uses: actions/github-script@v3
      id: tag
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        result-encoding: string
        script: |
          return context.payload.ref.replace(/refs\/tags\//, '')
    - name: Create MacOS Distro
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OS_NAME: osx
        CPU_ARCH: amd64
        PKG_TAG: ${{ steps.tag.outputs.result }}
      run: |
        ./package.sh
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ env.RELEASE_URL }}
        asset_path: ./connect-cli_${{ steps.tag.outputs.result }}_osx_amd64.zip
        asset_name: connect-cli_${{ steps.tag.outputs.result }}_osx_amd64.zip
        asset_content_type: application/zip
